<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1>
    Welcome to Baghani Assignment 2!
  </h1> -->

  <!--
  <bogus></bogus>
  <app-student></app-student>
  -->
  <ul>
    <!-- <li><a routerLink="/child">Access without login</a></li> -->
    <li><a routerLink="/login">Login Page</a></li>
    <li><a routerLink="/child">Children List Page</a></li>

  </ul>
  

  <!-- <app-login></app-login> -->
<!-- <app-child></app-child> -->
<router-outlet></router-outlet>
